# API Keys para IA (Preencha uma ou ambas)
OPENAI_API_KEY=
GEMINI_API_KEY=
VITE_SUPABASE_URL=https://odoigfebfbmhnkmonojp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kb2lnZmViZmJtaG5rbW9ub2pwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxODUzNzksImV4cCI6MjA5Mzc2MTM3OX0.aq6h18nFk_m_ujm9N-qv0EZzluVTpzE3cgog8-Pf2kI
